/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/*GLOBAL*/

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  /* width: 100vw; */
}

/*HERO SECTION*/

.hero {
  background-color: #1f2937;
  padding: 0 12rem;
  margin: 0;
  flex: 1;
}

ul {
  display: flex;
  gap: 1.5rem;
}
.hero {
  background-color: #1f2937;
}

li > a {
  text-decoration: inherit;
  color: inherit;
}

/*HEADER lOGO*/
li:first-child {
  color: #f9faf8;
  font-size: 24px;
  margin-right: auto;
  font-weight: bold;
}

.hero-mainContent {
  display: flex;
  margin: 6rem 0px;
}
.hero-left {
  flex: 1;
  padding: 48px 48px 48px 0px;
}
.hero-right {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #e5e7eb;
}

.hero-mainTxt + p,
li {
  color: #e5e7eb;
  font-size: 18px;
  list-style: none;
}

.hero-mainTxt {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

button {
  font-size: 18px;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  margin-top: 18px;
  border-style: none;
}

/*MAIN BODY*/
.four,
.three,
.two {
  flex: 1;
  padding: 0 12rem;
}

/*SECTION TWO*/
.two {
  display: flex;

  padding: 3rem 0px;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
  align-items: center;
}

.two-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 0;
  padding: 0;
  text-align: center;
}

.two-cards {
  display: flex;
  gap: 48px;

  padding-bottom: 3rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 9rem;
  color: #1f2937;
  text-align: center;
}
/*BLUE SQUARES*/
.box {
  border: 4px solid #3882f6;
  width: 9rem;
  height: 9rem;
  border-radius: 10px;
}

/*SECTION THREE*/
.three {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  color: #1f2937;
  padding: 6rem;
}
blockquote {
  padding: none;
}
.three-main {
  width: 47rem;
}
figcaption {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}

/*SECTION FOUR*/
.four {
  padding: 6rem 12rem;
}

.four-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  padding: 3rem;
  border-radius: 10px;
}

.four-left .four-header {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.four-left > p {
  color: #e5e7eb;
}

.four-right > button {
  border: 2px solid #f9faf8;
}

/*FOOTER*/
footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  font-size: 18px;
  padding: 3rem;
}
